<footer>
    <div class="logo">
        
        <a href="http://univ-cotedazur.fr/en" target="_blank">
            <img src="/ldviz/images/logos/uca.png">
        </a>
        <a href="https://www.cnrs.fr/fr" target="_blank">
            <img src="/ldviz/images/logos/cnrs.png" />
        </a> 
        <a href="https://www.inria.fr/en" target="_blank">
            <img src="/ldviz/images//logos/inria.png">
        </a>
        <a href="https://www.i3s.unice.fr/en" target="_blank">
            <img src="/ldviz/images/logos/i3s.png" />
        </a>
    </div>
</footer>