<div class="header">
    <div class="logo-holder logo-3">
      <a href="/ldviz" class="appname">
        <h3>LDViz</h3>
      </a>
    </div>
    <div class="header-right">
      <a id="home" href="/ldviz">Home</a>
      <a id="editor" href="/ldviz/editor">SPARQL Query Editor</a>
      <a id="dataviz" href="/ldviz/dataviz">Visualization Tools</a> 
      <a id="login" href="#">Login</a>
    </div>
</div>