
<div class="logo">
    <a href="http://univ-cotedazur.fr/en" target="_blank">
        <img src="/ldviz/images/uca-logo.png">
    </a>
    <a href="https://www.inria.fr/en" target="_blank">
        <img src="/ldviz/images/Inria-logo.png">
    </a>
    <a href="https://team.inria.fr/wimmics/" target="_blank">
        <img src="/ldviz/images/WIMMICS_logo.jpg" />
    </a>
</div>
