
<div class="logo">
    <a href="https://www.i3s.unice.fr/en" target="_blank">
        <img src="/ldviz/images/i3s.png" />
    </a>
    <a href="http://univ-cotedazur.fr/en" target="_blank">
        <img src="/ldviz/images/uca-logo.png">
    </a>
    <a href="https://www.cnrs.fr/fr" target="_blank">
        <img src="/ldviz/images/cnrs.png" />
    </a>
    <a href="https://team.inria.fr/wimmics/" target="_blank">
        <img src="/ldviz/images/WIMMICS_logo.jpg" />
    </a>    
    <a href="https://www.inria.fr/en" target="_blank">
        <img src="/ldviz/images/Inria-logo.png">
    </a>
    
</div>
