<!DOCTYPE html>
<html lang="en">

    <head>
        <title>LDViz</title>
        <%- include("partials/libs") %>

        <link rel="stylesheet" type="text/css" href="/ldviz/css/login.css" />

        <link rel="stylesheet" type="text/css" href="/ldviz/css/common.css" />
    </head>

    <body>
        <%- include("partials/header") %>

        <div class="page-content" style="background-color: cadetblue;">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>Linked Data Visualizer</h1>
                    </div>
                    <div class="login-form">
                        <form method='post' id='login_form'>
                            <div class="control-group">
                                <input class="login-field" type='email' name='email' placeholder='Email' required/>
                                <input class="login-field" type='password' name='password' placeholder='Password' required/>
                            </div>

                            <button class="btn btn-primary btn-large btn-block" type="submit">Sign in</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>

        <%- include("partials/footer") %>
    </body>

    <script>
        let href = window.location.href
        let origin = window.location.origin
        href = href.replace(`${origin}`, '')
        console.log(href)

        document.getElementById('login_form').action = href

        document.querySelector("#login").classList.add('active')
    </script>

</html>
