<!DOCTYPE html>
<html lang="en">

    <head>
        <title>LDViz</title>
        <%- include("partials/libs") %>

        <link rel="stylesheet" type="text/css" href="/ldviz/css/login.css" />

        <link rel="stylesheet" type="text/css" href="/ldviz/css/common.css" />

        
        <script src='/ldviz/js/login.js'></script>
      
    </head>

    <body>
        <%- include("partials/header") %>

        <div class="page-content" style="background-color: cadetblue;">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>Linked Data Visualizer</h1>
                    </div>
                    <div class="login-form">
                        <form method='post' id='login_form'>
                            <div class="control-group">
                                <input class="login-field" id="username" type='username' name='username' placeholder='Username' required/>
                                <input class="login-field" id="password" type='password' name='password' placeholder='Password' required/>
                            </div>

                            <button class="btn btn-primary btn-large btn-block" type="submit" id="submit">Sign in</button>
                        </form> 
                        <div id="error-message" style="color: red;"></div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("partials/footer") %>
    </body>

    <script>
        // console.log(window.location)
        // let href = window.location.href
        // let origin = window.location.origin
        // href = href.replace(`${origin}`, '')
        
        let auth = new Auth()
        auth.set()

        document.querySelector("#login").classList.add('active')
    </script>

</html>
