<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" ></script>
        <script type="text/javascript" src="https://d3js.org/d3-selection-multi.v1.min.js"></script>

        <!-- sweet alert (for informative messages, e.g. cache cleared) -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- tooltip -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>

        <!-- undo/redo library for textarea -->
        <script src='https://cdn.jsdelivr.net/gh/iMrDJAi/UndoRedo.js/src/UndoRedo.js'></script>

        <!-- json viewer -->
        <script src="/ldviz/lib/jquery.json-viewer/jquery.json-viewer.js"></script>
        <link href="/ldviz/lib/jquery.json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">

        <!-- ldviz js -->
        <script src='/ldviz/js/utils.js'></script>
        <script src='/ldviz/js/query.js'></script>
        <script src='/ldviz/js/editor.js'></script>
        <script src='/ldviz/js/results.js'></script>
        <script src='/ldviz/js/visualization.js'></script>
        <script src='/ldviz/js/query_table.js'></script>
        <script src='/ldviz/js/ldviz.js'></script>
        <script src='/ldviz/js/login.js'></script>

        <script type="module" src="/ldviz/lib/trans_mg4.js"></script>

        <!-- ldviz css -->
        <link rel="stylesheet" type="text/css" href="/ldviz/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/ldviz/css/query.css" />

        <title>Linked Data Visualizer</title>
    </head>

    <body>
        <div id="titleDiv">
            <!-- the title goes below -->
            <h1>Linked Data Visualizer</h1> 
            <div class='div-login'>
                <div class = 'text-login' id ='username'></div>
                <button class='b-login' id='login-button' onclick="LDViz.auth.login()">Sign In</button>
            </div>
            
            <p><a href='https://team.inria.fr/wimmics/'>Wimmics team</a> Inria, I3S, UCA, CNRS.</p> 
            <p>In this page you can create, edit, and try out your own queries and visualize them using the MGExplorer Visualization Tool.</p>   
        
        </div>
        
        <div id="query_listDiv" style="display:none;">
            <div class="content">
        
                <!-- new query button -->
                <div class="queries-control-panel"> 
                    <div id="filters-form">
                        <form name='filter_form' id='filter_form'>
                            <table>
                                <tr>
                                    <td>Filter queries by
                                        <div id="selectBox" onclick="showCheckboxes(this)">
                                            <select id='filter-endpoints' name='filter_endpoints' onmousedown="(function(e){ e.preventDefault(); })(event, this)">
                                                <option>SPARQL Endpoint</option>
                                            </select>
                                        </div>
                                        <div id="checkboxes" style="display: none;">
                                            <label style="padding:2px; margin-left: 10px; cursor: pointer;" onclick="LDViz.queryTable.clearEndpointSelection()">Clear selection</label>
                                            <label style="padding:2px; margin-left: 10px; cursor: pointer;" onclick="LDViz.queryTable.selectAllEndpoints()">Select all</label>
                                        </div>
                                    </td>
                                    <!-- <td>Published <input name="published" id="checkbox_published" type="checkbox"/>
                                        &nbsp; Not Published <input name="no_published" id="checkbox_published_no" type="checkbox"/>
                                    </td> -->
                                    <td>Search queries by name <br>
                                        <input id='filter-name' name='filter_name' type="text" oninput="LDViz.queryTable.setQueryList(this.value.toLowerCase())"></input>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    
                                </tr> -->
                            </table>            
                        </form>
                    </div>
                    <div id="newQueryDiv">
                        <i class="fa fa-plus-circle fa-2x query-icon" data-tippy-content="Create a new query" onclick="LDViz.queryTable.newQuery()"></i>
                    </div>
                </div>
                <hr>
                <!-- list of queries (filled later) -->
                <div id="queries-list" style="overflow-y: auto;"> 
                    <ul id="queries-ul"></ul>
                    <div style="display:none;" id="empty-queries-list">We could not find queries corrsponding to the selected filters.</div>
                </div>
            </div>
        </div>
        
        <!-- editor space -->
        <!-- <button type="button" style="width:1100px;margin:0 auto;display:none;" class="collapsible" id="query-button" onclick="collapseFormContent(this)">Collapse Query Form</button> -->
        <div id="tab" style="padding-left:100px; padding-right:100px;" class="collapsibleContent">
            <div class="content">
        
                <form name='query_form' id='query_form'>
        
                    <!-- query parameters -->
                    <section id='query_parameters'>
                        <table class="form_section table" id='query-head'>
                            <tr>
                                <td>Query Title </td>
                                <td><input style="width:450px"  class="table_cell" id="form_queryTitle"  type="text" name="query_name" placeholder="Name of your query" /></td>
                            </tr>
                            <tr>
                                <td>SPARQL Endpoint </td>
                                <td>
                                    <input style="width:450px" list='list_endpoints' class="table_cell" id="form_sparqlEndpoint" type="text" name="query_endpoint" />
                                    <datalist id="list_endpoints"></datalist>
                                </td>
                            </tr>
        
                            <!-- customizable options (only displayed for covid and hal pages) -->
                            <tr id='params_title' style="border-top: 1px solid white !important;">
                                <td colspan="3">Custom query variables 
                                    <i class="fas fa-info-circle"></i>
                                </td>
                            </tr>
        
                            <tr id="type_form" style="display: none;">
                                <td>Query Type</td><td>
                                    <select id='select_query_type' name='query_type' onchange='LDViz.editor.updateQueryOptions()'></select>
                                </td>
                            </tr>
        
                            <tr id='period_form' >
                                <td>Time Period (in years)</td>
                                <td>From <br>
                                    <select id='select_from_year' name='from_year' style='width:400px'></select>
                                    <i class="far fa-copy" id="$beginYear"></i>
                                </td> 
                                <td>To <br>
                                    <select id='select_to_year' name='to_year' style='width:400px'></select>
                                    <i class="far fa-copy" id="$endYear"></i>
                                </td>
                            </tr>
        
                            <tr id='lab1_form'>
                                <td id='lab1_title'>Institution </td><td>
                                    <input id='input_lab1' name='query_lab1' style='width:400px' list='select_laboratory'>
                                    <datalist id='select_laboratory'></datalist>
                                    <i class="far fa-copy" id="$lab1"></i>
                                </td>
                            </tr>
                            <tr id='lab2_form' style='display:none;'>
                                <td>Institution 2 <i class="far fa-copy" id="$lab2"></i></td><td>
                                    <input id='input_lab2' name='query_lab2' style='width:400px' list='select_laboratory2'>
                                    <datalist id='select_laboratory2'></datalist>
                                </td>
                            </tr>
                            <tr id='country_form' >
                                <td>Country </td>
                                <td>
                                    <!-- <input id='input_country' name='query_country' list='select_country'>
                                    <datalist id='select_country' ></datalist> -->
                                    <select id="select_country" name="query_country" id="select_country" style='width:400px'></select>
                                    <i class="far fa-copy" id="$country"></i>
                                </td>
                            </tr>
                            <tr id='list_form' style="display: none;" >
                                <td>List of Authors <i class="far fa-copy"></i></td><td>
                                    <textarea id='input_list' name='query_list_authors' style='width:400px'></textarea>
                                </td>
                            </tr>
        
                            <tr id='custom_variables' >
                                <datalist id='named_entities_list'></datalist>
                                <td>Custom Variables <i class="fas fa-plus entities" onclick="LDViz.editor.addVariable()"></i></td>
                            </tr>
        
                            <tr id='prefixes' style="border-top: 1px solid white !important;">
                                <datalist id='prefixes_list'></datalist>
                                <td>Query Prefixes 
                                    <i class="fas fa-plus prefixes" style="margin-left:5px;" onclick="LDViz.editor.addPrefix()"></i>
                                    <i class="far fa-copy copy-prefixes " style="margin-left:5px;" onclick='LDViz.editor.copyPrefixesToClipboard()'></i>
                                </td>
                            </tr>
                        </table>
                    </section>
                    
                    <!-- text area to type the query -->
                    <section class="form_section" >
                        <textarea id="form_sparqlQuery"  rows="30" cols="120" name="query_content"
                            style="overflow-y: scroll; font-family: sans-serif;font-size:16px;">
                            
                        </textarea>
                    </section>
        
                    <!-- "stylesheet", either use the current values for the query or a stylesheet-type -->
                    <section class="form_section">  
                        Apply Stylesheet: <input type='checkbox' class="withStylesheet" name="withStylesheet" id="withStylesheet" /> <br>
        
                        <button type="button" class="collapsible" id="stylesheet-content" onclick="collapseFormContent(this)">Collapse Style sheet</button>
        
                        <section class="collapsibleContent">
                            <table>
                            <tr>
                                <td>
                                    <textarea rows="30" cols="100" id="stylesheet" name="stylesheet"
                                        style="overflow-y: scroll; font-family: sans-serif;font-size:16px;" class="stylesheet" >
                                    </textarea>
                                </td>
                                <td valign='top'>
                                    <span class='iconsStylesheet'>
                                        <span style="width: 100%;">
                                            <i class="fas fa-download" title='Download Stylesheet' onclick="LDViz.results.exportStylesheetContent()"></i>
                                            <i class="fas fa-question-circle" title="How to use the Stylesheet" onclick="LDViz.editor.displayStylesheetInfo()"></i>
                                        </span>
                                        <div id='helpStylesheet'>
                                            <p>You can use the stylesheet to customize the color of nodes (representing the values ?s and ?o of the query).</p>
                                            <p>The patterns to apply styles are defined as follows: </p>
                                            <p>Same style for both variables: <br> 
                                                &nbsp;	&nbsp;	bind(\"&#60;key&#62;\" as ?style)</p>
                                            <p>Style for variable ?s: <br> 
                                                &nbsp;	&nbsp;	bind(\"&#60;key&#62;\" as ?style1)</p>
                                            <p>Style for variable ?o: <br> 
                                                &nbsp;	&nbsp;	bind(\"&#60;key&#62;\" as ?style2)</p>
                                            <p>Second style of variables: <br>  
                                                &nbsp;	&nbsp;	bind(\"&#60;key&#62;\" as ?mix)</p>
                                            <p>Example of application using the default stylesheet:</p>
                                            <p>select * where { <br>
                                                &nbsp;	 ?s ?p ?o <br>
                                                &nbsp;	 bind ("fst" as ?style1) <br>
                                                &nbsp;	 bind ("snd" as ?style2) <br>
                                                
                                                &nbsp;	 bind ("rst" as ?mix) <br>
                                            } </p>
        
                                        </div>
                                    </span>
                                </td>
                            </tr>
                            </table>
                        </section>
                    </section>
                    
                    <!-- buttons for visualizing and exporting query results -->
                    <!-- THIS MUST BE COMMON TO BOTH PAGES -->
                    <section>
                        <hr>
                        <table class='query_buttons'>
                            <tr>
                                <td><input type='button' id='preview_button' value='Visualize SPARQL Query Results' onclick="LDViz.query.processQuery(this.form)"/></td>
                                <td><input type="button" id="brut" value="View SPARQL Query Results" onclick="LDViz.results.open('sparql')"></td>
                                <td><input type="button" id="trans" value="View Transformed Results" onclick="LDViz.results.open('transformed')"></td>
                                <td><input type="button" id="trans" value="Export SPARQL Query" onclick="LDViz.results.exportSparqlQuery()"></td>
                                <td><input type="button" class='edit_button' id='cancel_button' value="Cancel" style='display:none;' onclick="LDViz.editor.cancelChanges()"></td>
                                <td><input type="button" class='edit_button' id='save_button' value="Save Changes" style='display:none;' onclick="LDViz.queryTable.editQuery(this.form)"></td>
                            </tr>
                        </table>
                    </section>
                </form>
            </div>
            
        </div>

        <footer>
            <div class="logo">
                
                <a href="http://univ-cotedazur.fr/en" target="_blank">
                    <img src="/ldviz/images/logos/uca.png">
                </a>
                <a href="https://www.cnrs.fr/fr" target="_blank">
                    <img src="/ldviz/images/logos/cnrs.png" />
                </a> 
                <a href="https://www.inria.fr/en" target="_blank">
                    <img src="/ldviz/images//logos/inria.png">
                </a>
                <a href="https://www.i3s.unice.fr/en" target="_blank">
                    <img src="/ldviz/images/logos/i3s.png" />
                </a>
            </div>
        </footer>
    </body>

</html>
<script>

    window.addEventListener('load', function() {
        let locals = <%- JSON.stringify(locals) %>;
        LDViz.init(locals)
        LDViz.setPage()
    })

</script>