<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("ldviz/partials/head") %>
    <title>LDViz</title>
</head>

<body class='body' >
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
        <div class="header" style="text-align: left;">
            <h1>Linked Data Visualizer</h1>
            <%- include("ldviz/partials/header") %>
        </div>

        <div style="display:flex; justify-content: space-between" >
            <div>
                <a href="/ldviz/images/Aline Menin-poster HCRES 2022.pdf" download><img src="/ldviz/images/Aline Menin-poster HCRES 2022.png" height="500px" /></a>
            </div>
            <div style="padding:15px;">
                <p>
                    This project support the visual exploration of linked data. You can use it to build, debug, and test SPARQL queries applied to the SPARQL endpoint of your choice. Further, you can visualize the results of your queries using the MGExplorer tool. The later is embedded in the queries management interface.
                </p>
            
                <h3>Usage</h3>
                <p>
                    This website consists of two main interfaces:
                    <ul>
                        <li><b>A visualization dashboard:</b> <a href="http://dataviz.i3s.unice.fr/ldviz">http://dataviz.i3s.unice.fr/ldviz</a> <br>
                            Here, domain users can visualize the results of queries previously defined by data experts.
                        </li>
                        <li>
                            <b>LDViz:</b> <a href="http://dataviz.i3s.unice.fr/ldviz/query">http://dataviz.i3s.unice.fr/ldviz/query</a> <br>
                            In this page, advanced users can generate and debug SPARQL queries applied to any SPARQL endpoint. Their results can be then explored by the general public through the Home page. <br> 
                            For secutiry reasons, this page requires authentication. If you are interested in using this application, please contact us (see contact information below) and we will provide you authentication. 
                        </li>
                    </ul>
                    Additionally, you can find <a href="/ldviz/hceres">here</a>  a demonstration of the tool using data from the HAL dataset to describe the co-authorship networks within the I3S laboratory.<br>
                    
                </p>
            </div>
        </div>
        
        
        <div>
            <h3>Coverage Analysis</h3>

            <p>
                To demonstrate the extent to which LDViz can support the exploration of LD datasets, we ran a coverage analysis that tested 419 different SPARQL endpoints to identify whether the SPARQL result set could be visualized by our tool. For more details, <a href="/ldviz/analysis">click here</a>.
            </p>

            <h3>Related Publications</h3>
            <ul>
                <li>Aline Menin, Pierre Maillot, Catherine Faron, Olivier Corby, Carla Maria Dal Sasso Freitas, et al.. LDViz: a tool to assist the multidimensional exploration of SPARQL endpoints. WEBIST 2020/2021, LNBIP 469, In press. (<a href="https://hal.archives-ouvertes.fr/hal-03929913">hal-03929913</a>)</li>
                <li>Aline Menin, Minh Nhat Do, Carla Dal Sasso Freitas, Olivier Corby, Catherine Faron Zucker, et al.. Using Chained Views and Follow-up Queries to Assist the Visual Exploration of the Web of Big Linked Data. International Journal of Human-Computer Interaction, 2022. (<a href="https://hal.archives-ouvertes.fr/hal-03518845">hal-03518845</a>)</li>
                <li>Aline Menin, Catherine Faron Zucker, Olivier Corby, Carla Dal Sasso Freitas, Fabien Gandon, et al.. From Linked Data Querying to Visual Search: Towards a Visualization Pipeline for LOD Exploration. International Conference on Web Information Systems and Technologies (WEBIST), Oct 2021, Online Streaming, France. (<a href="https://dx.doi.org/10.5220/0010654600003058">10.5220/0010654600003058</a>). (<a href="https://hal.archives-ouvertes.fr/hal-03404572">hal-03404572</a>)</li>
                <li>Aline Menin, Ricardo Cava, Carla Dal Sasso Freitas, Olivier Corby, Marco Winckler. Towards a Visual Approach for Representing Analytical Provenance in Exploration Processes. IV 2021 - 25th International Conference Information Visualisation, Jul 2021, Melbourne / Virtual, Australia. (<a href="https://dx.doi.org/10.1109/IV53921.2021.00014">10.1109/IV53921.2021.00014</a>). (<a href="https://hal.archives-ouvertes.fr/hal-03292172">hal-03292172</a>)</li>
                <li>Maroua Tikat, Aline Menin, Michel Buffa, Marco Winckler. Engineering Annotations to Support Analytical Provenance in Visual Exploration Processes. ICWE 2022 - 22nd International Conference of Web Engineering, Jul 2022, Bari, Italy. pp.1-16, (<a href="https://dx.doi.org/10.1007/978-3-031-09917-5_14">10.1007/978-3-031-09917-5_14</a>). (<a href="https://hal.archives-ouvertes.fr/hal-03779349">hal-03779349</a>)</li>
                <li>Anne Toulet, Franck Michel, Anna Bobasheva, Aline Menin, Sébastien Dupré, et al.. ISSA: Generic Pipeline, Knowledge Model and Visualization tools to Help Scientists Search and Make Sense of a Scientific Archive. ISWC 2022 - 21st International Semantic Web Conference, Oct 2022, Hangzhou, China. (<a href="https://dx.doi.org/10.1007/978-3-031-19433-7_38">10.1007/978-3-031-19433-7_38</a>). (<a href="https://hal.archives-ouvertes.fr/hal-03807744">hal-03807744</a>)</li>
            </ul>

            <h3>Contact information:</h3>
            <ul class="people">
                <li><a href="https://amenin.gitlab.io/">Aline Menin</a>, Associate Professor at Université Côte d'Azur (E-mail: aline.menin@univ-cotedazur.fr)</li>
                <li><a href="https://www.i3s.unice.fr/~winckler/">Marco Winckler</a>, Full Professor at Université Cote d'Azur (E-mail: marco.winckler@univ-cotedazur.fr)</li>
                <li><a href="http://www-sop.inria.fr/members/Fabien.Gandon/">Fabien Gandon</a>, Research Director at INRIA, Head of WIMMICS Team (E-mail: fabien.gandon@inria.fr)</li>
                <li><a href="http://sparks.i3s.unice.fr/fmichel">Franck Michel</a>, Research Engineer at CNRS (E-mail: franck.michel@cnrs.fr)</li>
                <li><a href="#">Pierre Maillot</a>, Postdoctoral Fellow at INRIA (E-mail: pierre.maillot@inria.fr)</li>
                <li><a href="https://www.i3s.unice.fr/~faron/">Catherine Faron</a>, Full Professor at Université Côte d'Azur (E-mail: catherine.faron@univ-cotedazur.fr)</li>
                <li><a href="https://www-sop.inria.fr/members/Olivier.Corby/">Olivier Corby</a>, Researcher at INRIA (E-mail: olivier.corby@inria.fr)</li>
                <li><a href="http://www-sop.inria.fr/members/Alain.Giboin/">Alain Giboin</a>, Emeritous Researcher at INRIA (E-mail: alain.giboin@inria.fr)</li>
                <li><a href="https://www.inf.ufrgs.br/site/docente/carla-maria-dal-sasso-freitas/">Carla Maria dal Sasso Freitas</a>, Full Professor at Federal University of Rio Grande do Sul (E-mail: carla@inf.ufrgs.br)</li>
                <li>[blank]</li>
            </ul>
        </div>
    </div>

    <footer>
        <p class="f3">
            <a href="/ldviz">Home</a>
        </p>
    </footer>
</body>

</html>