<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Linked Data Visualizer</title>
        <link rel="stylesheet" type="text/css" href="/ldviz/css/login.css" />
    </head>

    <body>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Linked Data Visualizer</h1>
                </div>
                <div class="login-form">
                    <h5 id="error-message" style="color:red;"></h5>
                    <form method='post' id='login_form'>
                        <div class="control-group">
                            <input class="login-field" type='email' name='email' placeholder='Email' required/>
                            <input class="login-field" type='password' name='password' placeholder='Password' required/>
                        </div>

                        <button class="btn btn-primary btn-large btn-block" type="submit">Sign in</button>
                    </form> 
                </div>
            </div>
        </div>
    </body>

    <script>
        let locals = <%- JSON.stringify(locals) %>;
    
        if (locals.message) // display error message when could not authenticate
            document.querySelector("#error-message").innerHTML = locals.message;
        
        let href = window.location.href
        let origin = window.location.origin
        href = href.replace(`${origin}`, '')

        document.getElementById('login_form').action = href
    </script>

</html>
