:host {
  display: block;
}

.container {
    min-height: 350px;
    height: 350px;
    min-width: 350px;
    overflow: scroll;
}

.PL-title {
    fill: black;
    font-family: Arial, serif;
    font-weight: bold;
    /* cursor: pointer; */
}

.PL-icon {
    text-decoration: none;
    cursor: pointer;
}

.paper-list {
    overflow: scroll;
}

.helpContainer {
    position: absolute;
    top: 10%;
    right: 3%;
}

.helpTooltip {
	position: absolute;
    top: 15%;
    right: 3%;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    z-index: 1000;
    width: auto;
    height: 100px;
}