:host {
    /** @prop --font-size: Size of text in this component.
    *
    * `14px` is the default.
    */
    font-size: 11px;
    display: block;
}




#query {
    padding: 7px 10px 0px 6px;
    display: inline-block;
}

#lblMensagem {
    font-size: 11px;
    font-style: italic;
    color: #ffe066;
    padding: 0px 0px 0px 60px;  
}

form>p>label {
    font-weight: unset;
    width: 100px;
}

form>p>input:not([type=button]),
select {
    /* width: 100px; */
    margin-left: 5px;
}

#form_title {
    text-align: center;
    margin-bottom: 25px;
}

#titleDiv {
    width: 1300px;
    margin: 0 auto;

    padding-left: 100px;
    padding-right: 100px;
}

#tab {
    /* border: 2px solid; */
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#query_listDiv {
    /* border: 2px solid; */
    width: 1300px;
    margin: 50px auto;

    padding-left: 100px;
    padding-right: 100px;
}

#query_listUl {
    padding: 25px 0;
}

#visualisation_div {
    width: 1300px;
    margin: 50px auto;

    padding-left: 100px;
    padding-right: 100px;
    display: none;
}

ul>li {
    list-style: none;
    padding: 5px
}

#newQueryDiv {
    position: relative;
    top: 20px;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    width: 100%;
}

#newQueryDiv a {
    outline: none;
    color: #333;
}

#newQueryDiv2 {
    text-align: center;
    width: fit-content;
    margin-right: 75px;
}

#tab h3 {
    border: 1px solid #cccccc;
    margin: 2px 1px 0px 1px;
    padding: 0px;
    font-size: 20px;
    float: left;
    right: 5px;
    width: 100px;
    height: 30px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
}

#tab h3.bigtab {
    width: 200px;
}

#tab h3.active {
    background: transparent;
}

.swal-wide{
    width:100px !important;
    color: #669773;
}

#tab div.hide {
    clear: both;
    padding: 20px 0px 0px 20px;

    border: 1px solid #cccccc;
}

form#query_form {
    clear: both;
    padding: 15px;
    display: block;
    background: transparent;
    font-size: var(--font-size -2px);
    width: 100%;
}

.form_section_div>div:nth-child(2) {
    margin-left: auto;
}

.form_section_div {
    display: flex;
    padding: 20px;
}
.form_section {
    table-layout: fixed;
}

#variables ul{
    border: solid 1px;
    color: #333;
    width: fit-content;
    padding: 10px;
}

#variables label{
    font-weight: normal;
}

#query-head input[type=text] {
    min-width: 150px;
}

#variables i{
    font-size: 1.5em;
    cursor: pointer;
}

input, select{
    padding: 5px;
    /* background-color: #ddd; */
    height: 35px;
    position: relative;
    border: none;
}


.form_endbutton {
    display: inline-block;
}

.end_button:hover {
    background-color: rgb(202, 200, 200);
}

#table {
    /*display: table; */
    max-height: 175px;
    overflow: scroll;
}

.table_row {
    display: table-row;
    width: 100%;
}

table, tr, td {
    border: transparent !important;
}


#queries-list i{
    margin-left: 10px;
    cursor: pointer;
}

#queries-list ul{
    padding: 2px; 
}

.close-icon{
    position: relative;
    float: right;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.query_buttons button[type=button]{

  padding: 8px;
  background: #ddd;
  /* border: 1px solid #5CC4C0; */
  color: #000;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.5s linear;
  margin-right: 5px;
  margin-left: 5px; 
  border-radius: 5px;
  border:none;
}

.query_buttons button[type=button]:hover {
  color: white;
  background: #5CC4C0;
}

.query_buttons button[type=button]:disabled,
.query_buttons button[type=button][disabled]{
  /* border: 1px solid #999999; */
  background-color: #ddd;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 8px;
}


.query_buttons #save_button{
    background-color: #386890 !important;
    border-color: #386890 !important;
    color: white;
}


.query_buttons #run{
    background-color: rgb(222, 66, 91);
}

.query_buttons #run:disabled, #clear-cache:disabled{
    background-color: #eee;
    color: #ddd;
}

#query_parameters ul{
    padding: 10px;
    border: 1px solid black;
}

#query_parameters i{
    cursor: pointer;
}

.resultsViewer{
    width: 1100px;
    margin: auto;
}

.resultsDownloadButton{
    position: relative;
    bottom: 10px;
    left: 91%;
    padding: 2px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
tr td:first-child {
  width: 25%;
  min-width: 10%;
  max-width: 30%;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}




@import url('../../../assets/fontawesome/css/all.css');
